# Container Quadlet: Replica 44 Gateway (HTTPS Reverse Proxy)

[Container]
ContainerName=replica44-gateway-${REPLICA44_INSTANCE_ID}
Image=docker.io/library/nginx:alpine
Pod=replica44-pod-${REPLICA44_INSTANCE_ID}.pod

# Mounts (Pages Web, Certificats SSL et Nginx Conf modifiable via VSCode)
Volume=${REPLICA44_DATA_DIR}/config/gateway/html:/usr/share/nginx/html:ro,Z
Volume=${REPLICA44_DATA_DIR}/config/gateway/certs:/etc/nginx/certs:ro,Z
Volume=${REPLICA44_DATA_DIR}/config/gateway/nginx.conf:/etc/nginx/nginx.conf:ro,Z
Volume=${REPLICA44_DATA_DIR}/config/gateway/htpasswd:/etc/nginx/htpasswd:ro,Z

[Install]
WantedBy=default.target
